.colEvents{
    position: relative;
    text-align: center;
    height: 33rem;
    background-color: rgba(95, 99, 99, 0.082);
    border: solid 1px hsl(0, 0%, 100%);
    transition: "transform 2s ease-in-out, opacity 0.5s ease-in-out",
}
.imgStyle{
    opacity: 80%;
}
.imgStyle:hover{
    opacity: 100%;
}
  .overlay {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5); 
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
    width: 60%;
  }
  .eventsAnimation{
    gap:0;
    opacity: 0;
    transform: translateY(150px);
    transition: opacity 1s ease-out,transform 1s ease-out;
  }
  .eventsAnimation.in-view{
    opacity: 1;
    transform: translateY(0);
    margin-bottom: 4rem;
  }