.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  .floating-image {
    width: 550px;
    height: auto;
    animation: float 3s ease-in-out infinite;
  }
  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }
  