.iconFooter{
    width: 50px;
     height: 30px;
     color:  rgb(194, 8, 8);
    }

.textFooter{
   color: rgba(255, 255, 255, 0.856);
   padding:3px 10px;
    }
.divFooter{
    padding-top: 30px;
    display: flex;
    padding-bottom: 40px;
}
.title{
    font-weight: bold;
    font-size: 17px;
}
.rowContainer{
    background-color: rgba(0, 0, 0, 0.945);
}
.iconFollow{
    color: white;
    margin:10px 20px 0 0;
    width: 25px;
    height: 25px;
    transition: transform 0.3s ease-in-out;
}
.iconFollow:hover{
    transform: scale(1.2);
    color: rgb(194, 8, 8);

}